

<div class="jumbotron">
  <h1 class="display-4">
    <%= @client.first_name %>
    <%= @client.last_name %>
  </h1>
  <p class="lead">
    <%= @client.email  %>  |
    <%= @client.phone %>  |
    <br />
    <%= @client.country %>
  </p>
  <hr class="my-4">
  

  <%= link_to 'Edit', edit_client_path(@client), class:"btn btn-primary" %> |
  <%= link_to 'Back', clients_path, class:"btn btn-danger" %>

 
</div>



